<!DOCTYPE html>
<html lang="jp">
  <head>
    <meta charset="utf-8">
    <title>raspberry alpha</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <%= csrf_meta_tag %>

    <!-- Le styles -->
    <%= stylesheet_link_tag 'bootstrap'%>
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
  </head>

  <body>
    <%= render 'shared/header' %>
    <div class="container">
      <!-- Main hero unit for a primary marketing message or call to action -->
      <%= yield %>
      <%= render 'shared/footer' %>
    </div> <!-- /container -->
  </body>
</html>
