<div class="alert-message block-message info">
  <p style="font-size: xx-large;width:400px;"><strong><%=t 'html_signup_text_title'%></strong></p>
</div>
<%= form_tag({:action => 'save'}, {:method => "post"}) do %>
  <div class="clearfix <%= check_error(@error_message_email) %>">
    <label><%=t 'common_static_email'%></label>
    <div class="input">
      <input class="xlarge <%= check_error(@error_message_email) %>" id="email" name="email" maxlength="30" type="email" placeholder="<%=t 'common_static_email'%>" value="<%= params[:email] %>" />
      <span class="help-inline"><%= @error_message_email %></span>
    </div>
  </div>
  <div class="clearfix <%= check_error(@error_message_password) %>">
    <label><%=t 'common_static_password'%></label>
    <div class="input">
      <input class="xlarge <%= check_error(@error_message_password) %>" id="password" name="password" maxlength="30" type="password" placeholder="<%=t 'common_static_password'%>" />
      <span class="help-inline"><%= @error_message_password %></span>
    </div>
  </div>
  <div class="clearfix  <%= check_error(@error_message_confirmpassword) %>">
    <label><%=t 'common_static_confirm_password'%></label>
    <div class="input">
      <input class="xlarge  <%= check_error(@error_message_confirmpassword) %>" id="confirmpassword" name="confirmpassword" maxlength="30" type="password" placeholder="<%=t 'common_static_confirm_password'%>" />
      <span class="help-inline"><%= @error_message_confirmpassword %></span>
    </div>
  </div>
  <div class="actions">
    <input type="submit" class="btn primary" value="<%=t 'html_signup_btn_title'%>">&nbsp;
    <br>
  </div>
<% end %>
