<div class="hero-unit">
  <div class="alert-message block-message info" style="text-align:center">
    <p style="font-size: xx-large"><strong><%=t 'top_message' %></strong></p>
  </div>
  <div>
    <center>
        <a class="btn primary" href="signup">
            <center>
                <div style="font-size: xx-large"><%=t 'sign_up_btn_title' %></div>
                <%=t 'sign_up_btn_below_text' %>
           </center>
       </a>
    </center>
  </div>
</div>
<div class="row">
  <div class="span4">
    <h2><%=t 'explain_title_1' %></h2>
    <p><%=t 'explain_body_1' %></p>
  </div>
  <div class="span4">
    <h2><%=t 'explain_title_2' %></h2>
    <p><%=t 'explain_body_2' %></p>
  </div>
  <div class="span4">
    <h2><%=t 'explain_title_3' %></h2>
    <p><%=t 'explain_body_3' %></p>
  </div>
  <div class="span4">
    <h2><%=t 'explain_title_4' %></h2>
    <p><%=t 'explain_body_4' %></p>
  </div>
</div>

