<div class="alert-message block-message info">
  <p style="font-size: xx-large;width:400px;"><strong><%= @app_detail["name"] %></strong></p>
</div>
<div class="hero-unit">
  <table id="myapps" class="zebra-striped">
    <tbody>
    <tr>
      <th class="blue header">URL</th>
      <td><%= @app_detail["url"] %></td>
    </tr>
    <tr>
      <th class="blue header">git address</th>
      <td><%= @app_detail["git_repository"] %></td>
    </tr>
    <tr>
      <th class="blue header">datasource</th>
      <td><%= @app_detail["datasource"] %></td>
    </tr>
    <tr>
      <th class="blue header">owner</th>
      <td><%= @app_detail["owner"] %></td>
    </tr>
    <tr>
      <th class="blue header">collaborators</th>
      <td style="padding-left:0px">
        <table>
          <% @app_detail["collaborators"].each do |col| %>
          
          <tr>
            <td style="border:none">
              <%= col['email'] %>
            </td>
            <td style="border:none">
              <%= form_tag({:action => 'detail'}, {:method => "post"}) do %>
                <%= select_tag('mod_role' , options_for_select([["R","R"],["RW","RW"]], col['role']), { :class => 'small' }) %>
                <input type="submit" class="btn success" value="U">
                <input type="hidden" name="appid" value="<%= @app_detail["id"] %>">
                <input type="hidden" name="mode" value="mod_collaborator_role">
                <input type="hidden" name="name" value="<%= @app_detail["name"] %>">
                <input type="hidden" name="owner" value="<%= @app_detail["owner"] %>">
                <input type="hidden" name="instance_count" value="<%= @app_detail["instance_count"] %>">
                <input type="hidden" name="collaborators" value="<%= @app_detail["collaborators"].to_json %>">
                <input type="hidden" name="mod_collaborator" value="<%= col['email'] %>">
              <% end %>
            </td>
            <td style="text-align:right; border:none">
              <%= form_tag({:action => 'detail'}, {:method => "post"}) do %>
                <input type="submit" class="btn error" value="×">
                <input type="hidden" name="appid" value="<%= @app_detail["id"] %>">
                <input type="hidden" name="mode" value="del_collaborator">
                <input type="hidden" name="name" value="<%= @app_detail["name"] %>">
                <input type="hidden" name="owner" value="<%= @app_detail["owner"] %>">
                <input type="hidden" name="instance_count" value="<%= @app_detail["instance_count"] %>">
                <input type="hidden" name="collaborators" value="<%= @app_detail["collaborators"].to_json %>">
                <input type="hidden" name="del_collaborator" value="<%= col['email'] %>">
              <% end %>
            </td>
          </tr>
          
          <% end %>
          <tr>
            <td style="border:none">
              <%= form_tag({:action => 'detail'}, {:method => "post"}) do %>
              <div class="clearfix <%= check_error(@error_message_new_col_email) %>">
                <input class="xlarge <%= check_error(@error_message_new_col_email) %>" id="new_col" name="new_col" maxlength="30" type="email" placeholder="Email" value="<%= params[:email] %>" />
                <span class="help-inline"><%= @error_message_new_col_email %></span>
              </div>
            </td>
            <td style="border:none">
              <select id="new_role" name="new_role" class="small">
                <option>R</option>
                <option>RW</option>
              </select>
            </td>
            <td style="text-align:right; border:none">
              <input type="submit" class="btn primary" value="＋">
            </td>
          </tr>
            <input type="hidden" name="appid" value="<%= @app_detail["id"] %>">
            <input type="hidden" name="mode" value="add_collaborator">
            <input type="hidden" name="name" value="<%= @app_detail["name"] %>">
            <input type="hidden" name="owner" value="<%= @app_detail["owner"] %>">
            <input type="hidden" name="instance_count" value="<%= @app_detail["instance_count"] %>">
            <input type="hidden" name="collaborators" value="<%= @app_detail["collaborators"].to_json %>">
          <% end %>
        </table>
        
      </td>
    </tr>
    <tr>
      <th class="blue header">instance count</th>
      <td style="padding-left:0px">
        
        <table>
          <tr>
            <td style="border:none">
              <%= form_tag({:action => 'detail'}, {:method => "post"}) do %>
              <div class="clearfix <%= check_error(@error_message_instance) %>">
                <input class="xlarge <%= check_error(@error_message_instance) %>" id="instance" name="instance" maxlength="2" type="instance" value="<%= @app_detail["instance_count"] %>" />
                <span class="help-inline"><%= @error_message_instance %></span>
              </div>
            </td>
            <td style="text-align:right; border:none">
              <input type="submit" class="btn success" value="U">
            </td>
          </tr>
          <input type="hidden" name="appid" value="<%= @app_detail["id"] %>">
          <input type="hidden" name="mode" value="mod_instance">
          <input type="hidden" name="name" value="<%= @app_detail["name"] %>">
          <input type="hidden" name="owner" value="<%= @app_detail["owner"] %>">
          <input type="hidden" name="collaborators" value="<%= @app_detail["collaborators"].to_json %>">
          <% end %>
        
        </table>
        
      </td>
    </tr>
    <tr>
      <th class="blue header">version</th>
      <td><%= @app_detail["version"] %></td>
    </tr>
    <tr>
      <th class="blue header">history</th>
      <td>
        <%= form_tag({:action => 'history'}, {:method => "post"}) do %>
          <input type="hidden" name="appid" value="<%= @app_detail["id"] %>">
          <input type="hidden" name="appname" value="<%= @app_detail["name"] %>">
          <button class="btn info">view history list</button>
        <% end %>
      </td>
    </tr>
    </tbody>
  </table>
</div>
