<script src="./jquery-1.7.1.min.js"></script>
<script src="./jquery.tablesorter.min.js"></script>
<div class="hero-unit">
  <div class="alert-message block-message info">
    <table>
      <tr>
        <td style="border:none">
          <p style="font-size: xx-large;width:600px;"><strong><%=t 'html_repository_text_history_title'%>"<%= @app_name %>"</strong></p>
        </td>
        <td style="border:none">
          <%= form_tag({:action => 'detail'}, {:method => "post"}) do %>
            <input type="hidden" name="appid" value="<%= @app_id %>">
            <button class="btn primary"><%=t 'html_repository_btn_back_detail'%></button>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <table id="history" class="zebra-striped">
    <thead>
      <tr>
        <th class="blue header"><%=t 'html_repository_text_application_version'%></th>
        <th class="blue header">Uploaded By</th>
        <th class="blue header"><%=t 'common_static_date'%></th>
        <th class="blue header"><%=t 'common_static_deploy'%></th>
      </tr>
    </thead>
    <tbody>
      <% @disp_warfiles.each do |warfile| %>
      <tr>
        <td style="border:none">
          <%= warfile['version'] %>
        </td>
        <td style="border:none">
          <%= warfile['uploadedBy'] %>
        </td>
        <td style="border:none">
          <%= warfile['date'] %>
        </td>
        <td style="border:none">
          <%= form_tag({:action => 'deploy'}, {:method => "post"}) do %>
            <input type="hidden" name="appid" value="<%= @app_id %>">
            <input type="hidden" name="appname" value="<%= @app_name %>">
            <input type="hidden" name="appversion" value="<%= warfile['version'] %>">
            <input type="submit" class="btn primary" value="<%=t 'common_static_deploy'%>">
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
$(function() {
$("table#history").tablesorter();
});
</script>
