<div class="hero-unit">
  <div class="alert-message block-message info">
    <table>
      <tr>
        <td style="border:none">
          <p style="font-size: xx-large;width:600px;"><strong>Application history "<%= @app_name %>"</strong></p>
        </td>
        <td style="border:none">
          <%= form_tag({:action => 'detail'}, {:method => "post"}) do %>
            <input type="hidden" name="appid" value="<%= @app_id %>">
            <button class="btn primary">back to Detail</button>
          <% end %>
        </td>
      </tr>
    </table>
  </div>
  <table id="history" class="zebra-striped">
    <thead>
      <tr>
        <th class="blue header">Application Version</th>
        <th class="blue header">Date</th>
      </tr>
    </thead>
    <tbody>
      <% @disp_warfiles.each do |warfile| %>
      <tr>
        <td style="border:none">
          <%= warfile['version'] %>
        </td>
        <td style="border:none">
          <%= warfile['date'] %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
