<div class="hero-unit">
<script src="./jquery-1.7.1.min.js"></script>
<script src="./jquery.tablesorter.min.js"></script>
      <div class="alert-message block-message info">
        <table>
          <tr>
            <td style="border:none">
              <p style="font-size: xx-large;width:400px;"><strong><%=t 'html_repository_text_list_title'%></strong></p>
            </td>
            <td style="border:none">
              <a class="btn primary" href="applicationcreate"><%=t 'common_static_create'%></a>
            </td>
          </tr>
        </table>
      </div>
    <table id="myapps" class="zebra-striped">
      <thead>
        <tr>
          <th class="blue header"><%=t 'html_repository_text_application_name'%></th>
          <th class="blue header"><%=t 'html_repository_text_application_detail'%></th>
          <th class="blue header"><%=t 'html_repository_text_application_warfile'%></th>
          <th class="blue header"><%=t 'html_repository_text_application_delete'%></th>
        </tr>
      </thead>
      <tbody>
        <% @app_list.each do |app| %>
        <tr>
          <td><%= app['name'] %></td>
          <td>
            <%= form_tag({:action => 'detail'}, {:method => "post"}) do %>
              <input type="hidden" name="appid" value="<%= app['id'] %>">
              <input type="submit" class="btn info" value="<%=t 'common_static_detail'%>">
            <% end %>
          </td>
          <td>
            <%= form_tag({:action => 'upload'}, {:method => "post"}) do %>
              <input type="hidden" name="appid" value="<%= app['id'] %>">
              <input type="hidden" name="appname" value="<%= app['name'] %>">
              <input type="submit" class="btn info" value="<%=t 'common_static_upload'%>">
            <% end %>
          </td>
          <td>
            <%= form_tag({:action => 'delete'}, {:method => "post"}) do %>
              <input type="hidden" name="appid" value="<%= app['id'] %>">
              <input type="submit" class="btn error" value="<%=t 'common_static_delete'%>">
            <% end %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
<script>
$(function() {
$("table#myapps").tablesorter();
});
</script>

</div>